@import "../../../styles.scss";

.navigation-bar {
  background-color: $primary-color;
  padding: 1em;
}

.nav-link {
  color: white;
}

.nav-item {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.nav-item :hover {
  border-bottom: 3px solid white;
  border-radius: 0em;
  transition: border-bottom 0.1s linear;
}

.current-tab {
  background-color: $primary-color-light;
}

.navbar-info {
  position: relative;
  float: right;
}

.website-title {
  color: white;
  display: inline-block;
  font-weight: 600;
  font-size: 28px;
  cursor: pointer;
  outline: none;
}

.btn-group {
  position: relative;
  float: right;
}

.dropdown-button-color {
  background-color: $primary-color-light;
  color: white;
  margin-bottom: 1em;
}

@media (max-width: 610px) {
  .navbar-info {
    display: none;
  }
}

@media (min-width: 610px) {
  .btn-group {
    display: none;
  }
}
