.underline {
    border-bottom: 5px solid orange;
}

#title-block {
    text-align: center;
    padding: 50px;
}

#title-block h1 {
    padding: 20px;
    font-size: 5.5em;
    font-family: 'Circular Std Black';
    font-weight: lighter;
}

#title-block h2 {
    font-size: 2em;
}

#menu-grid {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-content: center;
    display: inline-grid;
    text-align: center;
}

.menu-item {
    padding: 50px;
}

#menu-item-icon {
    font-size: 5em;
}

#menu-item-title {
    font-size: 4em;
}

#menu-time-description {
    font-size: 1.5em;
}