@import "../../../styles.scss";

.underline {
    border-bottom: 5px solid $primary-color;
}

#title-block {
    text-align: center;
    padding: 30px;
}

#title-block h1 {
    padding: 20px;
    font-size: 5.5em;
    font-family: 'Circular Std Black';
    font-weight: lighter;
}

#title-block h2 {
    font-size: 2em;
}

#menu-grid {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    display: inline-grid;
}

.menu-item {
    padding: 50px;
}

#menu-item-icon {
    text-align: center;
    font-size: 5em;
}

#menu-item-title {
    text-align: center;
    font-size: 4em;
}

#menu-item-description {
    font-size: 1em;
    text-align: justify;
}