<div id="title-block">
    <h1>Waste Map <span class="underline">Lebanon</span></h1>
    <h2>Data driven insight into waste management</h2>
</div>

<div id="menu-grid">
    <div class="menu-item">
        <div id="menu-item-icon">
            <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
        </div>
        <div id="menu-item-title">
            Waste Map
        </div>
        <div id="menu-item-description">
            subtitle
        </div>
    </div>
    <div class="menu-item">
        <div id="menu-item-icon">
            <fa-icon [icon]="faQuestionCircle"></fa-icon>
        </div>
        <div id="menu-item-title">
            About
        </div>
        <div id="menu-item-description">
            subtitle
        </div>
    </div>
    <div class="menu-item" id="coming-soon-nav">
        <div id="menu-item-icon">
            <fa-icon [icon]="faQuestionCircle"></fa-icon>
        </div>
        <div id="menu-item-title">
            Title
        </div>
        <div id="menu-item-description">
            subtitle
        </div>
    </div>
</div>