<div id="title-block">
    <h1>Waste Map Lebanon</h1>
    <h2>Data driven insight into waste management</h2>
</div>

<div id="menu-grid">
    <div class="menu-item">
        <div id="menu-item-icon"></div>
        <div id="menu-item-title"></div>
        <div id="menu-item-description"></div>
    </div>
    <div class="menu-item">
        <div id="menu-item-icon"></div>
        <div id="menu-item-title"></div>
        <div id="menu-item-description"></div>
    </div>
    <div class="menu-item">
        <div id="menu-item-icon"></div>
        <div id="menu-item-title"></div>
        <div id="menu-item-description"></div>
    </div>
</div>